body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.app-wrapper {
  width: 60%;
}

.chat-wrapper {
  display: block;
  width: auto;
  border: 2px solid purple;
}

.chat-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: purple;
  padding: 0px 35px;
}

.chat-top p {
  color: white;
}

.chat-top a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 0 15px;
}

.chat-top a p {
  color: black;
}

.chat-main {
  display: flex;
  width: 100%;
  height: 50vh;
}

.chat-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  overflow-y: auto;
}

.chat-box .single-msg {
  width: 30%;
  background-color: #00B7FF;
  border-radius: 3px;
  margin: 10px 0px;
}

.chat-box .single-msg .meta {
  padding-left: 15px;
}

.chat-box .single-msg .text {
  padding-left: 15px;
}


.chat-box .single-msg .time {

}

.room-box p {
  color: white;
}

.room-box p:first-child {
  font-size: 16px;
  color: white;
}

.users-box .users-list-box p:first-child {
  font-size: 16px;
  color: white;
}

.users-box {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  background-color: blueviolet;
}

#chat-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  height: 75px;
}

#chat-form input {
  width: 80%;
  height: 40%;
}

#chat-form button {
  height: 48%;
}

#msg {
  font-size: 14px;
}

.users-box .users-list-single {
  color: white;
}
